html {/*add change*/
  box-sizing: border-box;
  font-size: 100%;
}
*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter, sans-serif;
  font-size: 0.94rem;
  min-height: 100vh;
}
a,
a:active,
a:visited {
  color: #00001a;
  display: inline-block;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
a:focus,
a:hover {
  color: #e9ab53;
  cursor: pointer;
}
img {
  font-style: italic;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
h1 {
  color: #00001a;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1;
  margin-block: 1.3rem;
  max-width: 9ch;
}
h2 {
  color: #e9ab53;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
h3 {
  color: #fffdfa;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  transition: color 0.3s ease-in-out;
}
h3:hover {
  color: #e9ab53;
  cursor: pointer;
}
p {
  color: #5d5f79;
  font-weight: 400;
  margin-bottom: 1.4rem;
  max-width: 50ch;
}
hr {
  margin-bottom: 1.7rem;
  opacity: 0.5;
}
.cta-button {
  background: #f15e50;
  border-radius: 0.1rem;
  font-weight: 700;
  margin-bottom: 2.7rem;
  padding: 0.7em 2em;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.cta-button:focus,
.cta-button:hover {
  background: #00001a;
  color: #fffdfa;
  cursor: pointer;
  font-weight: 400;
}
.nav {
  align-items: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-block: 2em;
  width: min(100% - 40px, 62.5rem);
}
.nav__navbar {
  background: #fffdfa;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding: 1.8em 1.3em;
  position: fixed;
  right: -100%;
  top: 0;
  width: min(70%, 16.41rem);
}
.nav__navbar.opened-sidebar {
  animation: slide_in 0.5s ease-in-out forwards;
}
.nav__navbar.closed-sidebar {
  animation: slide_out 0.5s ease-in forwards;
}
.nav__navbar #close-menu {
  margin-left: auto;
}
.nav__navbar ul {
  list-style: none;
  margin-top: 3rem;
}
.nav__navbar ul li {
  margin-block: 1.8rem;
}
@keyframes slide_in {
  0% {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes slide_out {
  0% {
    right: 0;
  }
  to {
    right: -100%;
  }
}
@media (min-width: 48em) {
  .nav {
    margin: 0 auto;
    width: min(100% - 100px, 62.5rem);
  }
  .nav #open-menu {
    display: none;
  }
  .nav__navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: auto;
    padding: 0;
    position: static;
    top: auto;
    width: auto;
  }
  .nav__navbar #close-menu {
    display: none;
  }
  .nav__navbar ul {
    margin: 0;
  }
  .nav__navbar ul li {
    display: inline-block;
    margin: 0 0 0 1rem;
  }
  .nav__navbar ul li a {
    position: relative;
  }
  .nav__navbar ul li a:after {
    background: #e9ab53;
    bottom: -0.6rem;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    transition: width 0.5s ease-in-out;
    width: 0;
  }
  .nav__navbar ul li a:hover:after {
    width: 100%;
  }
}
.news-container {
  margin: 0 auto;
  width: min(100% - 40px, 62.5rem);
}
.news-container section:first-child .news-img {
  background-image: url(assets/images/image-web-3-mobile.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 18rem;
}
.news-container .article_2 {
  background: #00001a;
  margin-bottom: 4rem;
  padding: 1em;
}
.news-container .thumbnails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.news-container .thumbnails .thumbnail {
  display: flex;
  gap: 1.4rem;
}
.news-container .thumbnails .thumbnail .img {
  flex-shrink: 0;
}
.news-container .thumbnails .thumbnail h2 {
  margin-bottom: 1rem;
}
.news-container .thumbnails .thumbnail h3 {
  color: #00001a;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.news-container .thumbnails .thumbnail p {
  margin-bottom: 0;
  max-width: 30ch;
}
@media (min-width: 48em) {
  .news-container {
    margin: 0 auto;
    width: min(100% - 100px, 62.5rem);
  }
}
@media (min-width: 61.25em) {
  .news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }
  .news-container section:first-child {
    grid-column: 1/3;
    grid-row: 1;
  }
  .news-container section:first-child .news-img {
    background-image: url(assets/images/image-web-3-desktop.jpg);
  }
  .news-container section:first-child .web3-news {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .news-container section:first-child .web3-news .description .cta-button {
    margin-bottom: 0.6rem;
  }
  .news-container section:first-child .web3-news .description p {
    margin-top: 1rem;
  }
  .news-container .article_2 {
    margin-bottom: 0;
  }
  .news-container .thumbnails {
    flex-direction: row;
    grid-column: 1/4;
  }
}
.overlay {
  background: #00001a;
  inset: 0 0 0 0;
  position: fixed;
  visibility: hidden;
}
.overlay.appear {
  animation: fade_in 0.5s ease-in-out forwards;
}
.overlay.disappear {
  animation: fade_out 0.5s ease-in-out forwards;
}
@keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 0.5;
    visibility: visible;
  }
}
@keyframes fade_out {
  0% {
    opacity: 0.5;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@media (min-width: 48em) {
  .overlay {
    height: 1px;
    position: absolute;
    top: 0;
    width: 1px;
  }
}
footer {
  margin: 0 auto;
  width: min(100% - 40px, 62.5rem);
}
footer div {
  color: #e9ab53;
  margin-block: 2rem;
  text-align: center;
} /*# sourceMappingURL=style.css.map */
